<div id='container'>
 <div class='navigation'>
  <ul>
    <li><a href='#/profile' class='index'>Profile</a></li>
    <li><a href='#/ballots' class='vote'>Ballots</a><li>
    <li><a href='#/creator' class='create'>Ballot Creator</a></li>
    <li><a href='#/logout' class='logout'>Logout</a></li>
  </ul>
  </div>
  <div id='container'></div>

  <form name='ballotForm' ng-submit="addBallot()">
      <input name='ballot'
        ng-model="ballot.name"
        placeholder="Enter your ballot here" required />
      <input name='ballot'
        ng-model="ballot.opt1"
        placeholder="Enter your first option here" required />
      <input name='ballot'
        ng-model="ballot.opt2"
        placeholder="Enter your second option here" required />
      <button type="submit" value="Creator">
        add
      </button>
  </form>
  <div class='message'></div>

</div>