<div id='ballots'>
  <div class='navigation'>
  <ul>
    <li><a href='#/profile' class='index'>Profile</a></li>
    <li><a href='#/ballots' class='vote'>Ballots</a><li>
    <li><a href='#/creator' class='create'>Ballot Creator</a></li>
    <li><a href='#/logout' class='logout' ng-click='logout()'>Logout</a></li>
  </ul>
  </div>
  <input type='text' ng-model='search' placeholder='filter' noauthenticate/>
  <div class="ballots">
    <div class="ballot"
        ng-repeat="ballot in data.ballots | filter:search">
      <div class="info">
        <div class="id">id : {{ ballot._id }}</div>
        <div class="title">{{ ballot.name }}</div>
        <button class="opt1" ng-click="vote({opt:1, id : ballot._id})">{{ ballot.opt1 }}</button>
        <button class="opt2" ng-click="vote({opt:2, id : ballot._id})">{{ ballot.opt2 }}</button>
        <div class ="votes">votes for {{ballot.opt1}} : {{ballot.opt1Votes}}, votes for {{ballot.opt2}} : {{ballot.opt2Votes}}</div>
      </div>
      <br> </br>
    </div>
  </div>
</div>
