<div id='profile'>
  <div class='navigation'>
  <ul>
    <li><a href='#/profile' class='index'>Profile</a></li>
    <li><a href='#/ballots' class='vote'>Ballots</a><li>
    <li><a href='#/creator' class='create'>Ballot Creator</a></li>
    <li><a href='#/logout' class='logout' ng-click='logout()'>Logout</a></li>
  </ul>
  </div>
  <div id='container'>
    <div class='profile'>
      <div class='name'> Username : <span class='info'>{{user.username}} </span></div>
      <div class='fullname'> Full Name : <span class='info'>{{user.fullname}} </span></div>
      <div class='address'> Address : <span class='info'>{{user.address}} </span></div>
      <div class='city'> City : <span class='info'>{{user.city}}</span> </div>
      <div class='state'> State : <span class='info'>{{user.state}}</span> </div>
      <div class='zip'> Zip : <span class='info'>{{user.zip}} </span></div>
      <div class='phone'> Phone : <span class='info'>{{user.phone}} </span></div>
      <div class='dob'> Date of Birth : <span class='info'>{{user.dob | date}} </span></div>
      <div class='email'> Email : <span class='info'>{{user.email}}</span> </div>
      <br>
      <div class='votes'> Voting Record : <div ng-repeat='vote in user.votes'>You voted: <span class='info'>"{{vote.opt}}"</span> for <span class='info'>"{{vote.name}}"</span><br><span class='id'>({{vote.id}})</span></div> </div>
    </div>
  </div>
</div>